# Folders
build/*

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*

# Executables
*.exe
*.out
*.app

# Temp
*~
*.swp

# gnuplot log files
fit.log

# data - pictures
*.png
*.svg

# data - table
outcome/data*
